<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>GestionDeCommandes</display-name>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>GoHallUI</servlet-name>
        <servlet-class>controlleur.TraiterLogin</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>MonPanierTraite</servlet-name>
        <servlet-class>controlleur.MonPanierTraite</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>GoMyOrderServlet</servlet-name>
        <servlet-class>controlleur.GoMyOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>GoAfficherMonPanier</servlet-name>
        <servlet-class>controlleur.GoAfficherMonPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientConsulterPourTout</servlet-name>
        <servlet-class>controlleur.ClientConsulterPourTout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientAjouter</servlet-name>
        <servlet-class>controlleur.ClientAjouter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientConsulterPourCertains</servlet-name>
        <servlet-class>controlleur.ClientConsulterPourCertains</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TournerUnePageWeb</servlet-name>
        <servlet-class>controlleur.TournerUnePageWeb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProduitAjouter</servlet-name>
        <servlet-class>controlleur.ProduitAjouter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProduitConsulterPourTout</servlet-name>
        <servlet-class>controlleur.ProduitConsulterPourTout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientModifierOuSupprimer</servlet-name>
        <servlet-class>controlleur.ClientModifierOuSupprimer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientModifier</servlet-name>
        <servlet-class>controlleur.ClientModifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientSupprimer</servlet-name>
        <servlet-class>controlleur.ClientSupprimer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProduitConsulterPourCertains</servlet-name>
        <servlet-class>controlleur.ProduitConsulterPourCertains</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientModifierTraite</servlet-name>
        <servlet-class>controlleur.ClientModifierTraite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProduitModifier</servlet-name>
        <servlet-class>controlleur.ProduitModifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProduitModifierOuSupprimer</servlet-name>
        <servlet-class>controlleur.ProduitModifierOuSupprimer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProduitModifierTraite</servlet-name>
        <servlet-class>controlleur.ProduitModifierTraite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProduitSupprimer</servlet-name>
        <servlet-class>controlleur.ProduitSupprimer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommandeConsulterPourCertains</servlet-name>
        <servlet-class>controlleur.CommandeConsulterPourCertains</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoPagePrincipale</servlet-name>
        <servlet-class>controlleur.GoPagePrincipale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommandeAjouterPanier</servlet-name>
        <servlet-class>controlleur.CommandeAjouterPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommandeCreer</servlet-name>
        <servlet-class>controlleur.CommandeCreer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommandeConsulterDetailCommande</servlet-name>
        <servlet-class>controlleur.CommandeConsulterDetailCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommandePaiementTraite</servlet-name>
        <servlet-class>controlleur.CommandePaiementTraite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommandeConsulterPourPaiement</servlet-name>
        <servlet-class>controlleur.CommandeConsulterPourPaiement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommandeSupprimer</servlet-name>
        <servlet-class>controlleur.CommandeSupprimer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommandeConsulterPourSupprimer</servlet-name>
        <servlet-class>controlleur.CommandeConsulterPourSupprimer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LivraisonConsulterPourCertain</servlet-name>
        <servlet-class>controlleur.LivraisonConsulterPourCertain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LivraisonAjouter</servlet-name>
        <servlet-class>controlleur.LivraisonAjouter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LivraisonConsulterPourTout</servlet-name>
        <servlet-class>controlleur.LivraisonConsulterPourTout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientInscription</servlet-name>
        <servlet-class>controlleur.ClientInscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProduitConsulterDetail</servlet-name>
        <servlet-class>controlleur.ProduitConsulterDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonPanierTraiterPourClient</servlet-name>
        <servlet-class>controlleur.MonPanierTraiterPourClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoAfficherMonPanierPourClient</servlet-name>
        <servlet-class>controlleur.GoAfficherMonPanierPourClient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoHallUI</servlet-name>
        <url-pattern>/GoHallUI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonPanierTraite</servlet-name>
        <url-pattern>/MonPanierTraite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoMyOrderServlet</servlet-name>
        <url-pattern>/GoMyOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoAfficherMonPanier</servlet-name>
        <url-pattern>/GoAfficherMonPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientConsulterPourTout</servlet-name>
        <url-pattern>/ClientConsulterPourTout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientAjouter</servlet-name>
        <url-pattern>/ClientAjouter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientConsulterPourCertains</servlet-name>
        <url-pattern>/ClientConsulterPourCertains</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TournerUnePageWeb</servlet-name>
        <url-pattern>/TournerUnePageWeb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProduitAjouter</servlet-name>
        <url-pattern>/ProduitAjouter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProduitConsulterPourTout</servlet-name>
        <url-pattern>/ProduitConsulterPourTout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientModifierOuSupprimer</servlet-name>
        <url-pattern>/ClientModifierOuSupprimer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientModifier</servlet-name>
        <url-pattern>/ClientModifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientSupprimer</servlet-name>
        <url-pattern>/ClientSupprimer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProduitConsulterPourCertains</servlet-name>
        <url-pattern>/ProduitConsulterPourCertains</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientModifierTraite</servlet-name>
        <url-pattern>/ClientModifierTraite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProduitModifier</servlet-name>
        <url-pattern>/ProduitModifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProduitModifierOuSupprimer</servlet-name>
        <url-pattern>/ProduitModifierOuSupprimer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProduitModifierTraite</servlet-name>
        <url-pattern>/ProduitModifierTraite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProduitSupprimer</servlet-name>
        <url-pattern>/ProduitSupprimer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommandeConsulterPourCertains</servlet-name>
        <url-pattern>/CommandeConsulterPourCertains</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoPagePrincipale</servlet-name>
        <url-pattern>/GoPagePrincipale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommandeAjouterPanier</servlet-name>
        <url-pattern>/CommandeAjouterPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommandeCreer</servlet-name>
        <url-pattern>/CommandeCreer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommandeConsulterDetailCommande</servlet-name>
        <url-pattern>/CommandeConsulterDetailCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommandePaiementTraite</servlet-name>
        <url-pattern>/CommandePaiementTraite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommandeConsulterPourPaiement</servlet-name>
        <url-pattern>/CommandeConsulterPourPaiement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommandeSupprimer</servlet-name>
        <url-pattern>/CommandeSupprimer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommandeConsulterPourSupprimer</servlet-name>
        <url-pattern>/CommandeConsulterPourSupprimer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LivraisonConsulterPourCertain</servlet-name>
        <url-pattern>/LivraisonConsulterPourCertain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LivraisonAjouter</servlet-name>
        <url-pattern>/LivraisonAjouter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LivraisonConsulterPourTout</servlet-name>
        <url-pattern>/LivraisonConsulterPourTout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientInscription</servlet-name>
        <url-pattern>/ClientInscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProduitConsulterDetail</servlet-name>
        <url-pattern>/ProduitConsulterDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonPanierTraiterPourClient</servlet-name>
        <url-pattern>/MonPanierTraiterPourClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoAfficherMonPanierPourClient</servlet-name>
        <url-pattern>/GoAfficherMonPanierPourClient</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>GoPagePrincipale</welcome-file>
    </welcome-file-list>
</web-app>
